= render partial: "shared/header"
= render "devise/shared/error_messages", resource: resource

.edit
  .edit__box
    .edit__box__caption
      %h2.edit__box__caption--title
        Edit #{resource_name.to_s.humanize}
      .edit__box__caption--detail
        ユーザー情報編集
      %h3.eidt__box__caption__return
        Cancel my account
        %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
        = link_to "Back", :back

    .edit__box__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        
        .edit__box__form--field
          = f.label :email, class: "field-name"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        
        .edit__box__form--field
          = f.label :password, class: "field-name"
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "form-input", placeholder: "新しいパスワードを入力"
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum
        
        .edit__box__form--field
          = f.label :password_confirmation, class: "field-name"
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input"
        
        .edit__box__form--field
          = f.label :current_password, class: "field-name"
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "current-password", class: "form-input", placeholder: "変更前のパスワードを入力"
  
        .edit__box__form--actions
          = f.submit "Update", class: "action-btn"

