.main-box
  .restaurant-box
    = link_to restaurant_path(restaurant.id), class: "restaurant-box__info" do
      .restaurant-box__info--store
        - if restaurant.images.present?
          = image_tag "#{restaurant.images.first.image}", width: "584px", height:"300px"
        - else
          = image_tag "nodata.jpg", width: "584px", height:"300px"
      .restaurant-box__info__detail
        .restaurant-box__info__detail--name
          店名： #{restaurant.name}
        .restaurant-box__info__detail--contributor
          投稿者: #{restaurant.user.nickname}