.menu-box
  = link_to menu_path(menu.id) do
    .menu-box__contents
      .menu-box__contents--photo
        - if menu.photo.present?
          = image_tag "#{menu.photo}", width: "150px", height: "100px", class: "menu-photo"
        - else
          = image_tag "nodata.jpg",  width: "150px", height: "100px", class: "menu-photo"
      .menu-box__contents__detail
        .menu-box__contents__detail--name
          #{menu.menuname}
        .menu-box__contents__detail--price
          #{menu.price}円