.restaurant
  .restaurant-page
    .restaurant-form
      .restaurant-form__title
        店舗情報入力
    .restaurant-input
      = form_with model: @restaurant do |f|
        
        .restaurant-input__imagebox
          .restaurant-input__imagebox--title
            ・外観写真（最大4枚まで）
            .input-required
              必須
          .restaurant-input__imagebox--detail
            ※ 1枚目の写真がサムネイルに使われます
          .restaurant-input__imagebox__main
            #image-field
              #previews
                - if @restaurant.persisted?
                  - @restaurant.images.each_with_index do |image, i|
                    = image_tag image.image.url, data: { index: i }, width: "100", height: "100"
                = f.fields_for :images do |image|
                  = image.label :image, class: "js-file_grop", "data-index": image.index do
                    = image.file_field :image, class: "js-file"
                  - if @restaurant.persisted?
                    = image.check_box :destroy, data:{ index: image.index }, class: "hidden-destroy"
                - if @restaurant.persisted?
                  .js-file_group{"data-index" => "#{@restaurant.images.count}"}
                    = file_field_tag :image, name: "restaurant[images_attributes][#{@restaurant.images.count}][image]",class: "js-file"
            
        .restaurant-input__storename
          .restaurant-input__storename--title
            ・店名
            .input-required
              必須
          .restaurant-input__storename--field
            = f.text_field :name, class: "text-field__form", placeholder: "例：グルメモ食堂"
        
        .restaurant-input__details
          .restaurant-input__details--title
            ・おすすめポイント
            .input-any
              任意
          .restaurant-input__details--field
            = f.text_area :detail, class: "text-area__form"
        
        .restaurant-input__genre
          .restaurant-input__genre--title
            ・ジャンル
            .input-required
              必須
          .restaurant-input__genre--field
            = f.collection_select :cuisine_id, Cuisine.all, :id, :name, {prompt: "------"}, class: "select-field__form"
        
        .restaurant-input__salse
          .restaurant-input__salse--title
            ・営業形態
            .input-required
              必須
          .restaurant-input__salse--field
            = f.select :form_id, Restaurant.form_ids.keys, {prompt: "------"}, class: "select-field__form"
        
        -# 評価機能実装時にコメントアウト解除予定
        -# .restaurant-input__rate
        -#   .restaurant-input__rate--title
        -#     ・評価
        -#     .input-any
        -#       任意
        -#   .restaurant-input__rate--field

        .restaurant-input__hours
          .restaurant-input__hours--title
            ・営業時間
            .input-any
              任意
          .restaurant-input__hours--field
            = f.text_field :hours, class: "text-field__form", placeholder: "例：10時〜21時"
        
        .restaurant-input__holiday
          .restaurant-input__holiday--title
            ・定休日
            .input-any
              任意
          .restaurant-input__holiday--field
            = f.text_field :holiday, class: "text-field__form", placeholder: "例：水曜日定休"
        
        .restaurant-input__access
          .restaurant-input__access--title
            ・アクセス
            .input-any
              任意
          .restaurant-input__access--field
            = f.text_field :access, class: "text-field__form", placeholder: "例：JR池袋駅西口より徒歩5分"
        
        .restaurant-input__address
          .restaurant-input__address__left
            .restaurant-input__address__left--text
              ・住所
          
          .restaurant-input__address__right
            .restaurant-input__address__right__prefecture
              都道府県
              .input-required
                必須
            .restaurant-input__address__right__prefecture--field
              = f.collection_select :prefectur_id, Prefecture.all, :id, :name, {prompt: "-----"}, class: "select-field__form"
            
            .restaurant-input__address__right__city
              市区町村
              .input-required
                必須
            .restaurant-input__address__right__city--field
              = f.text_field :city, class: "text-field__address", placeholder: "例：グルメ市メモ町"
            
            .restaurant-input__address__right__block
              番地
              .input-any
                任意
            .restaurant-input__address__right__block--field
              = f.text_field :block, class: "text-field__address", placeholder: "例：思い出1-3-5"
            
            .restaurant-input__address__right__building
              建物名
              .input-any
                任意
            .restaurant-input__address__right__building--field
              =f.text_field :building, class: "text-field__address", placeholder: "例：食いしん坊"

        .restaurant-input__btn
          .restaurant-input__btn--post
            = f.submit "投稿する", class: "submit-btn"
          .restaurant-input__btn--return
            = link_to root_path do
              戻る
